body {
    background-color: #ececeb;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

.homescreen-main {
    display: grid;
    grid-template-columns: 17em 1fr;
    grid-template-rows: 4em 1fr;
    grid-gap: 1em;
}

.homescreen-cabecera {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    grid-column: 1/3;
    grid-row:1/2;
    display:flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.homescreen-banner-title {
    grid-row:1/2;
    grid-column:1/2;
    display:grid;
    grid-template-columns: 1em 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {
    color:white;
    font-size: 2em;
    text-align:left;
    grid-column: 2/3;
}

h2 {
    color:white;
    text-align:left;
    font-size:2em;
    width:12em;
    grid-column: 2/3;
    grid-row:2/3;
}

.homescreen-decoration {
    text-align: right;
    grid-row:1/2;
    grid-column:2/3;
}

.homescreen-decoration img {
    width:250px;
    padding-right: 5em;
    padding-top:1em;
}

.homescreen-toplist {
    grid-column: 1/2;
    grid-row:2/3;
    padding-left:1em;
}

.homescreen-toplist-tarjeta {
    display:flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    height:inherit;
    border-radius: 8px;
}

.homescreen-toplist-tarjeta p {
    text-align:left;
    padding: 0.3em;
    margin: 0;
}

.homescreen-toplist-tarjeta p:last-child{
    border-radius: 0 0 8px 8px;
}

.homescreen-toplist-tarjeta p:nth-child(2n){
    background: rgba(0,0,0,.1);
}

.homescreen-toplist-title {
    border-radius: 8px 8px 0 0 ;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: white;
}

.homescreen-searchbar {
    grid-column:2/3;
    grid-row:2/3;
    bottom:0;
}

.homescreen-searchbar input {
    width: 100%;
    border: none;
    padding-left:15px;
    border-radius: 16px;
    height:2.5em;
    outline: none;
}

.homescreen-manga {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    padding: 2em;
}

@media (max-width: 500px) {
    .homescreen-cabecera {
        display:flex;
        flex-direction: column;
    }

    .homescreen-main {
        display: flex;
        flex-direction: column;
    }

    .homescreen-decoration img {
        width: 200px;
    }

    .homescreen-decoration {
        text-align: center;
    }

    .homescreen-searchbar input {
        width:90%;
    }

    .homescreen-searchbar {
        grid-column:1/3;
    }

    .homescreen-toplist {
        text-align: center;
        padding: 1em;
    }

    .homescreen-manga {
        flex-direction: column;
    }

    .homescreen-toplist-tarjeta {
        justify-content: center;
    }
}