.mangacard {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
}

.mangacard img {
    width:200px;
    height: 285px;
}

.mangacard p {
    text-align: left;
    background-color: lightgray;
    padding: 0;
    margin:0;
    width:200px;
}